
.vs/MyWebApp/v17/DocumentLayout.json
.vs/MyWebApp/v17/.suo
.vs/MyWebApp/FileContentIndex/ffff105c-f04e-49cf-8f60-b28116469a5d.vsidx
MyWebApp.Server/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
MyWebApp.Server/obj/Debug/net8.0/MyWebApp.Server.AssemblyInfo.cs
MyWebApp.Server/obj/Debug/net8.0/MyWebApp.Server.AssemblyInfoInputs.cache
MyWebApp.Server/obj/Debug/net8.0/MyWebApp.Server.assets.cache
MyWebApp.Server/obj/Debug/net8.0/MyWebApp.Server.GlobalUsings.g.cs
MyWebApp.Server/obj/MyWebApp.Server.csproj.nuget.dgspec.json
MyWebApp.Server/obj/MyWebApp.Server.csproj.nuget.g.props
MyWebApp.Server/obj/MyWebApp.Server.csproj.nuget.g.targets
MyWebApp.Server/obj/project.assets.json
MyWebApp.Server/obj/project.nuget.cache
